@import '../../sass/variables';

@mixin card($type) {
    width: 100%;
    max-width: 23 * $rem;
    transition: $transition;

    @media screen and (max-width: $bp-sm) {
        max-width: 18 * $rem;
        height: 11 * $rem;
    }

    height: 13 * $rem;
    border-radius: $radius-1;

    @if $type =='mastercard' {
        background-color: $mastercard-color;
    }

    @else if $type =='visa' {
        background-color: $visa-color;
    }

    @else if $type =='amex' {
        background-color: $amex-color;
    }

    @else if $type =='empty' {
        background-color: $empty-color;
    }
}

@mixin text($size) {
    font-family: $text-card;
    color: $white;
    font-size: $size;
}

.cardItem {
    &--mastercard {
        @include card('mastercard')
    }

    &--visa {
        @include card('visa')
    }

    &--amex {
        @include card('amex')
    }

    &--empty {
        @include card('empty')
    }

    &__image {
        &--visa {
            padding-top: $rem;
            width: 5.5*$rem;
            padding-right: $rem;

            @media screen and (max-width: $bp-sm) {
                width: 4.5 * $rem;
            }
        }

        &--mastercard {
            width: 6 * $rem;

            @media screen and (max-width: $bp-sm) {
                width: 5 * $rem;
            }
        }

        &--amex {
            padding-right: $rem;
            width: 5* $rem;

            @media screen and (max-width: $bp-sm) {
                width: 4* $rem;
            }
        }

        &--empty {
            padding-right: $rem;
            width: 6 * $rem;

            @media screen and (max-width: $bp-sm) {
                width: 4 * $rem;
            }
        }
    }

    &__cardInfo {
        justify-self: flex-end;

        @media screen and (max-width: $bp-sm) {
            @include text($text-sm);
        }
    }

    &__cardNumber {
        @include text($text-md);

        @media screen and (max-width: $bp-sm) {
            @include text($text-sm);
        }
    }

    &__cardOwner {
        @include text($text-normal);

        @media screen and (max-width: $bp-sm) {
            @include text($text-xs);
        }
    }
}