.Carousel {
    &__slide{
        max-width: 368px !important;
        padding-bottom: 48px;
    }
    &__bullet{
        padding: 2px;
        width: 28px;
        height: 28px;
        color: white;
        background-color: #f66595;
    }
    .swiper-button-prev, .swiper-button-next {
        color: #f66595 !important;
    }
    @media screen and (max-width: 575px) {
        & .swiper-slide{
            display: flex;
            justify-content: center;
        }
    }
}