*{
  font-size: 16px;
}

body{
  background-color: #FAF8F6;
  font-family: "Poppins", sans-serif;
}

.btn-custom-primary{
  background-color: #708871;
  border: 1px solid #708871;
  border-radius: 24px;
  max-width: 306px;
  width: 100%;
}

.FormGeneral{
  max-width: 768px;
  margin: 0px auto;
  border-radius: 25px;
  box-shadow: 0px 0px 6px -2px #606676;
  padding: 32px;
}